<form
  class="product-form-main"
  [formGroup]="productForm"
  (ngSubmit)="onProductFormSubmitted(productForm)"
>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        placeholder="Title"
        formControlName="title"
        required
      />
      <mat-error *ngIf="productForm.get('title')!.invalid">
        Title is invalid
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input
        matInput
        type="text"
        placeholder="Price"
        formControlName="price"
        required
      />
      <mat-error *ngIf="productForm.get('price')!.invalid">
        Price is invalid
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input
        matInput
        type="text"
        placeholder="Description"
        formControlName="description"
        required
      />
      <mat-error *ngIf="productForm.get('description')!.invalid">
        Description is invalid
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <input
        matInput
        type="text"
        placeholder="Category"
        formControlName="category"
        required
      />
      <mat-error *ngIf="productForm.get('category')!.invalid">
        Category is invalid
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Image</mat-label>
      <input
        matInput
        type="text"
        placeholder="Image"
        formControlName="image"
        required
      />
      <mat-error *ngIf="productForm.get('image')!.invalid">
        Image is invalid
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button type="submit">Submit</button>
</form>
