<mat-grid-list cols="2" rowHeight="1:2">
  <mat-grid-tile>
    <mat-list role="list">
      <mat-list-item role="itemlist" *ngFor="let item of cryptoList$ | async">
        {{ item.symbol }}
        <button mat-button color="primary" (click)="selectCrypto(item)">
          Show details
        </button>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <ng-container *ngIf="cryptoDetails$ | async as item">
      Price change: {{ item.priceChange }}
    </ng-container>
  </mat-grid-tile>
</mat-grid-list>
