<h2><u>I used https://dummyjson.com/docs/users as Employee list</u></h2>
<mat-card>
  <mat-card-title>Order by height</mat-card-title>
  <mat-card-content>
    <mat-selection-list role="list" fxLayout="row" [multiple]="false">
      <mat-list-option
        role="listitem"
        *ngFor="let item of orders | async"
        (click)="sort(item)">
        {{ item }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Age range</mat-card-title>
  <mat-card-content>
    <mat-selection-list role="list" fxLayout="row" [multiple]="false">
      <mat-list-option
        role="listoption"
        *ngFor="let item of ages | async"
        [value]="item"
        (click)="selectAge(item)">
        {{ item }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>

<table mat-table [dataSource]="employeeList$" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First name</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let element">{{ element.age }}</td>
  </ng-container>

  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef>Height</th>
    <td mat-cell *matCellDef="let element">{{ element.height }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button
        color="primary"
        (click)="deleteEmployee(element.id)">
        Remove
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
